// Navigation Styles here.

nav {
    
    width: 43%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.1% 0;

    @media @mobile {
        flex-direction: column;
    }

    .title {
        width: 50%;

    }

    a {

        display: flex;
        justify-content: space-evenly;
        width: 50%;
        text-decoration: none;
        font-size: 1.6rem;
        color: black;
    }
}